.update__btn {
  background-color: blue;
  border: none;
  padding: 5px 20px;
  color: wheat;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
.delete__btn {
  margin-left: 20px;
  background-color: red;
  border: none;
  padding: 5px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
