.single__blog {
  padding-top: 80px;
  &__img {
    margin-bottom: 50px;
    height: 480px;
    width: 100%;
    object-fit: cover;
  }
  &__data {
    margin: auto;
    max-width: 800px;
    &__user {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      img {
        height: 70px;
        width: 70px;
      }
      &__desc {
        margin-left: 15px;
        p {
          color: var(--Purple, #592ea9);
          font-size: 28px;
          font-weight: 700;
          line-height: 40px; /* 142.857% */
          letter-spacing: -1px;
        }
        span {
          color: var(--Medium-grey, #6d6e76);
          line-height: 28px; /* 175% */
        }
      }
    }
    &__title {
      margin-bottom: 30px;
      color: var(--Black, #232536);
      font-size: 48px;
      font-weight: 700;
      line-height: 64px; /* 133.333% */
      letter-spacing: -2px;
    }
    &__hashtag {
      margin-bottom: 58px;
      color: var(--Black, #232536);
      font-size: 24px;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
    }
    &__description {
      margin-bottom: 70px;
      color: var(--Medium-grey, #6d6e76);
      line-height: 28px; /* 175% */
    }
  }
}
.all__posts {
  &__title {
    color: var(--Black, #232536);
    font-size: 48px;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -2px;
  }
}
